.board
    display: flex
    flex-direction: column
    border: 1px solid black
    border-radius: 16px
    padding: 5px
    height: 85vh
.card-header-container
    display: flex
    flex-direction: column
.card-header-firstline
    display: flex
    align-items: center
    gap: 5px
    margin-bottom: 10px
.board-content
    display: flex
    flex-direction: column
    overflow: auto
    -ms-overflow-style: none
    scrollbar-width: none
    margin-top: 15px
.board-content::-webkit-scrollbar
    display: none